<h1>Home</h1>


<% if logged_in? %>
  <p>Hi <%= current_user.username %>, you are logged in</p>
<% else %>
  <p>You are not logged in</p>  
<% end %>


<% if !logged_in? %>
  <%= button_to "Log in", "/login", class: "btn btn-primary", method: :get %>
<% else %>
  <%= button_to "Log out", "/logout", class: "btn btn-primary", method: :delete %>
<% end %>

<%= button_to "Sign up", "/signup", class: "btn btn-secondary", method: :get %>
